<%= render 'shared/errors', errors: @category.errors %>

<%= form_for @category do |f| %>
  <div class="well">
    <div class="form-group">
      <%= f.label :name, "Category name" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="control-group">
      <%= f.submit("Create", class: 'btn btn-default') %>
    </div>
  </div> 
<% end %>